[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
python-decouple = "*"
django-crispy-forms = "*"
django-tables2 = "*"
pip = "*"
install = "*"
django-celery-beat = "*"
requests = "*"
pyodbc = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
