[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
psycopg2-binary = "*"
requests = "*"
django-crispy-forms = "*"
ibm-db = "*"
mysqlclient = "*"
pyodbc = "*"
django-tables2 = "*"
xlwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
